<%- include( "partials/header") -%>

<main>
    <div class="contact">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>card-account-details</title><path d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z" /></svg>
        <h1>Contact Me</h1>
    </div>

    <div class="contact-container">
        <div class="contact-left">
            <div class="form">
                <form action="/contact" method="post">
                    <input type="text" name="yourName" placeholder="Your Name">
                    <input type="email" name="yourEmail" id="yourEmail" placeholder="Your E-Mail">
                    <textarea name="yourMessage" id="yourMessage" wrap="on" placeholder="Message"></textarea>
                    <button type="button" name="sendFormBtn" value="yourMessage" class="btn">SEND MESSAGE</button>
                </form>
            </div>
        </div>
        <div class="contact-right">
            <h2>Get In Touch</h2>
            <div class="myPhone">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cellphone</title><path d="M17,19H7V5H17M17,1H7C5.89,1 5,1.89 5,3V21A2,2 0 0,0 7,23H17A2,2 0 0,0 19,21V3C19,1.89 18.1,1 17,1Z" /></svg>
                <p>+91 9958026543</p>
            </div>
            <div class="myEmail">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>email</title><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg>
                <p>hriday2602@gmail.com</p>
            </div>
        </div>
    </div>
</main>

<%- include("partials/footer") -%>